/* In src/App.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-wrapper > * {
  justify-self: center;
}

.card-title {
  font-size: 12px;
  width: fit-content;
}

.card-container {
  width: fit-content;
}
